:root{ --maincolor: #44D89E;
       --secondarycolor: F5F7FA;
}
body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: var(--secondarycolor);
display: inline-block;}
